/* INICIO DAS ESPECIFICAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-houver: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-houver: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
/* FIM DAS ESPECIFICAÇÕES GERAIS */

/* ELEMENTO PAI */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* INICIO PERFIL */
#perfil {
  text-align: center;
  padding: 24px;
}

#perfil img {
  width: 112px;
}

#perfil p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/* FIM PERFIL */

/* INICIO BOTÃO */
#switch{
  margin: 4px auto;
  position: relative;
  width: 64px;
  
}

#switch button {

  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s ;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);

}

#switch span {

  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* FIM BOTÃO */

/* INICIO DOS LINKS */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-houver);
  border: 1px solid var(--text-color);
}

#social-links {
  display: flex;

  padding: 24px 0;

  font-size: 24px;

  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
  border-radius: 50%;
}
/* FIM DOS LINKS */

/* INICIO FEITO COM AMOR */
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1.5px;
}
/* FIM FEITO COM AMOR */

/* INICIO DA TROCA DE CORAÇÕES */

footer span:before {
  content: " 🤍 ";
}

footer span:hover:before {
  content: "❤️";
}
/* INICIO DA TROCA DE CORAÇÕES */

/* INICIO DA ANIMAÇÃO DO CORAÇÃO */
@-webkit-keyframes pulsar-coracao {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulsar-coracao {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
footer span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
footer span:hover,
footer span:focus,
footer span:active {
  -webkit-animation-name: pulsar-coracao;
  animation-name: pulsar-coracao;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* FIM DA ANIMAÇÃO DO CORAÇÃO */

/* Media Queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Animações de Transições do botão*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}